#navbarNav{
    /*border: 1px solid red;*/
}

.navbar-nav{
    /*border: 1px solid green;*/
}

#about-me{
    border: 1px solid red;
}

.portrait {
    /*width: 300px;*/
    width: 100%;
    border-radius: 4%;
    flex-shrink: 0;
}

.text{
    border: 1px solid blue;
}

.img{
    border: 1px solid green;
}