body {
    margin: 0 7%;
}

.portrait {
    width: 100%;
    flex-shrink: 0;
}

summary {
    list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}

details {
    cursor: pointer;
}

.project-title h3 {
    display: inline;
}

#skills-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

#skills-container > * {
    font-size: 2em;
    width: 2em;
    margin-top: 0.5rem;
}

.contact-icon > * {
    font-size: 2em;
    width: 2em;
    margin-right: 0.5em;
}

.heart {
    color: red;
}


